# --- Ignora em TODAS as pastas (Front e Back) ---
node_modules/
.env
.DS_Store
Thumbs.db

# --- Logs e Arquivos de Sistema ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
.idea/

# --- Builds de Produção ---
dist/
build/